@tailwind base;
@tailwind components;
@tailwind utilities;
.dropdown:hover .dropdown-menu {
  display: block;
}
.btn1:hover span{
  width: 15px;


 
}
.ring-two{
 
  -webkit-animation: ring 3s linear infinite;
  animation: ring 3s linear infinite;

}
@keyframes ring {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg); 
  }
  100%{
    transform: rotate(360deg);
  }
}

.play::after{
  content: "";
  position: absolute;
  border: 15px solid #C9C0FF
  ;
  border-radius: 50%;
  top:-10px;
  left:-10px;
  right: -10px;
  bottom:-10px;
  animation:  bloom1 1.5s linear infinite;
opacity: 0;
z-index: 1;
}       
.play::before{
  content: "";
  position: absolute;
  border: 15px solid #C9C0FF;
  border-radius: 50%;
  top:5px;
  left:5px;
  right: 5px;
  bottom:5px;
  animation:  bloom2 1.5s linear infinite;
opacity: 0;
z-index: -1;
animation-delay: .4s;
}  

@keyframes bloom1 {
  0%{
    transform: scale(.5);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
  }
}
@keyframes bloom2 {
  0%{
    transform: scale(.5);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
  }
}
#testimonial-slider{

text-align: center;

}
.testimonial .description{

position: relative;
}

.owl-buttons {
    /* width: 10%; */
    height: 40px;
    position: absolute;
    bottom: 40%;
    left: 8%;
    bottom: 30px;
}
.owl-prev,
.owl-next{
position: absolute;
left: 0;
transition: all 0.4s ease-in-out 0s;
}
.owl-next{
left: auto;
right: 0;
}
.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before{
content: "←";
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 60px;
font-weight: 900;
color: #CBCBCB;
line-height: 20px;
opacity: 0.8;
}

@media screen and (max-width: 1468px) {
  .owl-buttons .owl-prev:before,
  .owl-buttons .owl-next:before{
 
  font-size: 40px;
  
  }
  .owl-theme .owl-controls .owl-page span {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    background: url("../src/img/Ellipse\ 12.png") no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out 0s;
}
}
.owl-buttons .owl-next:before{
content: "→";
}
.owl-buttons .owl-prev:hover:before,
.owl-buttons .owl-next:hover:before{
color: #000 !important;
}
.owl-theme .owl-controls .owl-buttons div{
background: transparent;
}
.owl-theme .owl-controls{
margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: right;

}
.owl-theme .owl-controls .owl-page span{

width: 115px;
height: 115px;
border-radius: 50%;

background: url("../src/img/Ellipse\ 12.png") no-repeat;
background-size: cover;
transition: all 0.3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-page:nth-child(2) span{
background: url("../src/img/Ellipse\ 13.png") no-repeat;
background-size: cover;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span{
background: url("../src/img/Ellipse\ 14.png") no-repeat;
background-size: cover;
}
.owl-theme .owl-controls.clickable .owl-page:hover span{
opacity: 0.5;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span{
border: 4px solid #543BF5;
width: 130px;
height: 130px;
opacity: 1;
}

/****Accordance*****/


.panel {

    border-radius: 4px;
   
}

.panel .panel-heading {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}




/**Logic Class**/

.panel .panel-heading::after {
    content: "\002B";
    color: #000;
    font-weight: bold;
}

.panel-heading.active::after {
    content: "\2212";
}

.panel-collapse {
    display: none;
    transition: all .3s ease-in;
}

.panel-heading.active+.panel-collapse {
    display: block;
    transition: all .3s ease-in;
}


/******/
#toggle:checked ~ label div.toggle-bot,
#toggleTwo:checked ~ label div.toggle-bot{
 @apply translate-x-7

}

@keyframes one{
  0%{
transform: scale(0);
  }
  100%{
transform: scale(1.2);
  }
}

@keyframes two{
  0%{
transform: scale(0);
  }
  100%{
transform: scale(1.2);
  }
}


/**---
  header curcle -animation image
  --**/ 

/**---
  Humburger-menu
  --**/

.humburger-middle{
  transform: translateY(7px);
}
.humburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
  top:8px

}
.open .humburger-top{
  transform: rotate(45deg);
  translate: (6px);
  transform: rotateY(6px);
}
.open .humburger-middle{
  display: none;
}
.open .humburger-bottom{
  transform: rotate(-45deg);
  translate: (6px);
  transform: rotateY(-6px);
}

/**---
  Humburger-menu
  --**/

 /*******/

/* Slideshow container */
.active-text.activeTwo{
animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  0%{
    margin-top: 25px;
  }
  100%{
    margin-top: 0;
  }
}


.mySlides {
  display: none;
  
}



.prev, .next {
    /* cursor: pointer;
    width: auto;
   
    padding: 36px;
   
    font-size: 20px; */
    
    user-select: none;
}

.dot {

  transition: background-color 0.6s ease;
}


.active, .dot:hover {
 
  border: 1px solid #000 !important;
  width: 100px !important;
  height: 100px !important;
}

@media screen and (max-width: 992px) {
  .active, .dot:hover {
   
    height: auto !important;
  }

}





span.dot {
    width: 85px;
    height: 85px;
}

.dot {
    cursor: pointer;

    margin: 0 2px;
   
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}





/* SWITCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
  position: relative;
  display: inline-flex;
 
}

.switch-wrapper [type="radio"] {
  position: absolute;
  left: -9999px;
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
  color: var(--white);
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
  background: transparent;
}

.switch-wrapper
  [type="radio"]:checked#monthly
  + label[for="yearly"]
  ~ .highlighter {
  transform: none;
}

.switch-wrapper
  [type="radio"]:checked#yearly
  + label[for="monthly"]
  ~ .highlighter {
  transform: translateX(103%);
}
.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"], .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
  color: white;
}


table .hide {
  display: none;
}



